body{
  font-family: 'Montserrat', sans-serif;
  background: #ee9ca7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #999999;
}

h1{
  color: #ff66b5;
  font-size: 36px;
  animation: blinkingText 2s infinite;
}

@keyframes blinkingText{
    0%{color: #ff66b5}
    50%{color: #ffcc00}
    100%{color: #ff66b5}
}

div{
  padding: 20px 100px 20px 100px;
}

.title{
  text-align: center;
}

.top{ 
  background-color: rgba(255,255,255,0.5);
}

.bottom{
  background-color: rgba(255, 230, 243, 0.5);
}

.inner{
    padding: 0px;
    text-align: center;
}

img{
    margin: 0px 20px 0px 20px;
    border-radius: 10px;
}

h2{
  color: #ff99ce;
}

ol{
  padding-left: 15px;
}

a{
  color: #ff99ce;
}

a:hover{
    color: #d966ff;
}